@import 'variables';
@import 'price-card';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1400px;
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  background-color: $main-background;
}
